body{color:#e5e5e5;
padding:0px;
margin:0px;
background:#181c24;
position:center;
}
/**********����� ���������*************/
.fixed{table-layout:fixed;}	
.bold{font-weight:bold;}
.mp0{margin:0px; padding:0px;}
.tablefix{table-layout:fixed;width:765px;height:100%}
.mintext{text-transform:lowercase ;}
.bigtext{text-transform:uppercase;}
table.cell2{border: none; border-collapse: collapse; width: 100%;height:100%}
table.cell1{border: none; border-collapse: collapse; width: 100%;}
table.cell{border: none; border-collapse: collapse; }
a{color:#e5e5e5;text-decoration:underline;}
a:hover{text-decoration:none;}
img { border:0px;}
.floadleft{float:left;}
.floadright{float:right;}
.footer{background:#353a44;color:#8b94a7;}
span.textbold{color:#aebacd;font-weight:bold;}
.delm{background:black;width:1px;height:10px;display:block;margin:0px ;padding:0px;}
 .line li{line-height:18px;}
/*******************�����*********************************/
.bgtop{background-image:url(images/bg_top.gif);background-repeat:repeat-x}
/*.logo{background:url(images/logo6.png) no-repeat 0% 25px;}*/
.logo{background:url(images/gyantcompliance.png) no-repeat 0% 25px;}
span.blue{color:#00ccff;}
p.m_bot0{margin-bottom:0px}


/*page1*/
.home h2{color:#353a44;margin:2px 0 2px 0; padding:2px 0 4px 0;font-size:18px;font-family:Tahoma,sans-serif}
.home span{color:#353a44;margin:0; padding:0;font-size:14px; letter-spacing: 3px;
}
.grd{background:url(images/grd.gif) no-repeat right}



 /*page2*/
 .login_text {color:#e5e5e5; font-size:11px; text-decoration:none; vertical-align:middle;}
 .login_table{border:1px solid #c3c3c3}
 .login_table3{border:1px solid #c3c3c3;width:400;background:#555c68;}
 .login_table2{border:1px solid #c3c3c3;width:350;height:100;background:#555c68;}
h2.voc_web_manager{text-transform:uppercase;font-weight:700;font-family:Verdana; letter-spacing:4px;margin:0px;padding:0px;line-height:31px;}
/*page3*/

.text1page3{color:#aebacd; font-size:11px; text-decoration:none; vertical-align:middle;font-weight:600}	
.text1page3 p{color:#8892a2;font-weight:lighter}

/*����� ������� ������*/

table.bordertd td{border:1px solid #555c68;text-align:center;font-size:6px;padding:4 2 4 2;}
tr .bgtd td{background:#9ea0a6;color: #393e4a ;font-size:6px;}
tr .td2fix td{font-size:6px;padding:1 2 1 2}
.bgtd{background:#9ea0a6;color: #393e4a;font-size:6px; }
tr.bgtextd td{color: #9ea0a6;font-size:6px; }
/**********����� �������� ����**********/
.menu {background:#00ccff;width:526px;padding-right:15px;}
.menu a{text-decoration:none; color:#000;}
.menu a:hover{text-decoration:underline;}
table.menu_t td{height:70px;margin:0px;padding:0px 13px;border-collapse:collapse}
.menu_t img{margin:0px; padding:0px;}
.bright{border-right:1px solid #000}


/**********��������� ������������ ����**********/
.centermenu{background:url(images/centermenu1.png);}
.centermenu h3{color:#e5e5e5;font-family:Tahoma,sans-serif;/*font-size:17px;*/font-weight:600;text-transform:uppercase ;font-size:14px;}
.centermenu h2{color:#e5e5e5;font-family:Tahoma,sans-serif;font-size:23px;font-weight:600;}
.centermenu img{border:3px solid #555c68;margin:10px;}
.img_b{}
.centerlist{padding-top:100px;position:ceneter}
.centerbg{background:url(images/bg_center.gif) repeat-x;}
.bg_center1{background:url(images/bg_center1.gif) repeat-y ;}
.dotted_right{border-right:1px dotted #555c68}
.dotted_bottom{border-bottom:1px dotted #555c68}
div.border_table {border:1px solid #555c68;padding:10px;margin:7px 7px 7px 0px;}


/**************left menu*************************/
ul.link{list-style-position:outside;text-transform:lowercase;
list-style-image:url(images/square1.gif);padding-left:20px;}
.link li{color:#aebacd;font-size:10px;text-transform:uppercase ;}
/*.link li:first-letter {text-transform:uppercase ;
 font-size: 11px; /* ������ ������ ������� */
  /*float: left; ������������ �� ������ ���� */
  /* color: red;������� ���� ������ ����� */
 /*  padding: 3px;���� ����� �������� � ������� */
/* margin-top: 3px;  ������ ������ 
} */

.lmenu_pdd{padding-top:50px}

.link a{text-transform:uppercase ; text-decoration:none;
color:#aebacd;
font-family:Tahoma;
font-weight:lighter;
font-size:10px;
line-height:18px;
}
.link a:hover{color:WHITE;font-size:10px;}
ul.link2{list-style-position:outside;
list-style-image:url(images/square.gif);padding-left:20px;}
.link2 li{color:#9fec00;}
.link2 li:first-letter {text-transform:uppercase ;
 font-size: 11px; /* ������ ������ ������� */
  /*float: left; ������������ �� ������ ���� */
  /* color: red;������� ���� ������ ����� */
 /*  padding: 3px;���� ����� �������� � ������� */
/* margin-top: 3px;  ������ ������ */ 
}
.link2 a{text-transform:lowercase ; text-decoration:none;
color:#9fec00;
font-family:Tahoma;
font-weight:lighter;
font-size:11px;
line-height:21px;
}
.link2 a:hover{color:WHITE;} 
 
 /********** �������**********/
  .margintop10{margin-top:10px;}
 .mg_top20{margin-top:22px;}
 .mg_top30{margin-top:30px;}
 .mg_top50{margin-top:48px;}
 
 .padd_left{padding-left:10px;}
 .padd_b60{padding-left:120}
 .mg_left20{padding-left:20px;}
 .mg_left90{margin-left:90px;}
 .mg_left150{margin-left:150px;}
 
 .s{padding-bottom:10px}
 .padd_b30{padding-bottom:30px}

 .margin7{margin:7px}
 .mg_page4  {margin:27px 0 0 100px}


/****************************������*******************/
  input.bt{background:#3f444f;border:1px solid #00ccff;color:#c3c3c3;padding:0 15 0 15}
input.bt:hover{border:1px solid #00ccff;color:#00ccff;}

input.button{background:url(images/button.gif);border:0px;color:#000;width:87px;height:17px;padding:0 10 1 0}


textarea.message { width:230px;height:87;margin:0px;color:#000;border:1px solid #123456}
.message input{color:#000;border:1px solid #123456}

/********************���� �����********************************/
.bg  input {background:#3f444f;color:#e5e5e5;border:1px solid #c3c3c3;}
 .login_table2 input{width:160px;text-transform:none;}
 
.form input	{width:152px; height:19px; border-color:#C5C7C8; border-width:1px; background-color:#; border-style:solid; padding-left:5px; color:#87AAD3}

/****************��������� �����***************************/

span strong { color:#87AAD3}	
table, li, input, textarea{font-family:Tahoma;font-size:11px;line-height:14px;}
span a { color:#aebacd}
textarea{width:152px; height:117px; border-color:#C5C7C8; border-width:1px; background-color:#; border-style:solid; padding-left:5px; overflow:hidden; margin-top:8px; color:#87AAD3}
p{margin-top:3px;color:#8892a2}
ul {margin:0; padding:0;}
li  {background:none; margin:0; padding:0}
li a  {font-family:Tahoma; font-size:11px; line-height:14px; }