<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="true">

	<php>
        <var name="DB_DSN" value="mysql:dbname=voc_test;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="fghbjhysq" />
        <var name="DB_DBNAME" value="voc_test" />
    </php>

	<selenium>
		<browser name="Internet Explorer" browser="*iexplore" />
		<browser name="Firefox" browser="*firefox" />
	</selenium>

</phpunit>