paths:
    migrations: vwm/migrations/phinx
        
environments:
    default_migration_table: phinxlog
    default_database: development
    production:
        adapter: mysql
        host: localhost
        name: voc
        user: root
        pass: ''
        port: 3306
                
    development:
        adapter: mysql
        host: localhost
        name: voc
        user: root
        pass: ''
        port: 3306
                    
    testing:
        adapter: mysql
        host: localhost
        name: voc_test
        user: root
        pass: ''
        port: 3306
                 
